# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Datasets
LibriSpeech/
*.tar.gz
*.zip
*.flac
*.wav

# Models
*.pth
*.pt
*.ckpt
*.safetensors
whisper-finetuned/
wav2vec2-finetuned/

# Logs
*.log
logs/
runs/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Cache
.cache/
.pytest_cache/

# Optuna
optuna.db

# uv
uv.lock
